# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env